<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>All rooms</title>
    <link rel="stylesheet" type="text/css" href="../static/css/header-style.css" th:href="@{/css/header-style.css}" />
</head>
<body>
<div th:insert="header.html :: header"></div>

<table border="1">
    <thead>
    <tr>
        <th th:text="msg.id"></th>
        <th th:text="msg.name"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="room, iStat : ${roomPage.content}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${room.id}"></td>
        <td th:text="${room.number}"></td>
    </tr>
    </tbody>
</table>
<div th:if="${roomPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/rooms/all(size=${roomPage.size}, page=${pageNumber})}"
       th:text="${pageNumber}"
       th:class="${pageNumber==roomPage.number + 1} ? active"></a>
</div>

<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th> Title </th>-->
<!--        <th> Author </th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:if="${rooms.isEmpty()}">-->
<!--        <td colspan="2"> No rooms Available </td>-->
<!--    </tr>-->
<!--    <tr th:each="room : ${rooms}">-->
<!--        <td><a th:href="@{${room.id}}">Room</a> </td>-->
<!--        <td><span th:text="${room.id}"> Title </span></td>-->
<!--        <td><span th:text="${room.number}"> Author </span></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
</body>
</html>